h1{
	text-align: center;
}
button{
	text-align: center;
	width: 250px
}
form{
	background-color: ;
	border-radius: 3px;
	  position:fixed;
   top:10%;
   left:41%;
   width:250px;    
}
body{
	background-size: cover;
}